  <h1 class="text--hero-title text--gradient">{{ site.Title }}</h1>
  <p class="hero-tag text--gradient">Genre-bending cello and percussion duo</p>
  <a class="button goldman" href="#callout">Enter</a>
  <div class="duo-container">
    <img src="/images/imprint-dark-1600.png" srcset="/images/imprint-dark-800.png 800w, /images/imprint-dark-1600.png 1600w, /images/imprint-dark-3200.png 3200w" sizes="(max-width: 768px) 100vw, (max-width: 1200px) 100vw, 1600px" alt="Imprint duo" class="duo-image">
  </div>