html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: none;
}

body, h1, h2, h3, p {
  font-family: 'Goldman', cursive, sans-serif;
  text-align: center;
}

header {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: opacity 0.5s ease;
}

header.visible {
  opacity: 1;
}

nav {
  background-color: blue;
  display: flex;
  flex-direction: row;
}

nav li {
  list-style: none;
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.hero-title {
    display: inline-block;
    font-size: 5rem;
    background: linear-gradient(90deg, orange, pink); /* example gradient colours */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* For Firefox */
  background-clip: text;
  color: transparent;

  /* Optional: enhance sharpness */
  font-weight: 900;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: url('/images/nightsky.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1;
  transform: translateZ(0); /* forces GPU layer, improves performance */
}

.duo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -62%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.duo-image {
  width: 100%;
  max-width: 1920px;
  height: auto;
  object-fit: contain;
  margin-bottom: 4rem;
}